---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title} - Nick Winans`} description={post.data.description}>
  <a href="/blog"><- All posts</a>, <a href="/">Home</a>
  <h1>{post.data.title}</h1>
  <time datetime={post.data.pubDate.toISOString().split("T")[0]}>
    {post.data.pubDate.toISOString().split("T")[0]}
  </time>
  <Content />
</Layout>
