---
import Layout from '../../layouts/Layout.astro';
import readingTime from 'reading-time';
let allPosts = await Astro.glob('./*.mdx');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---
<Layout title="Blog">
	<main class="container mx-auto">
		<h1>Blog</h1>
		<ul role="list">
			{allPosts.map(post => (
        <li>
          <a href={post.url}>
            <h2>{post.frontmatter.title}</h2>
            <p>{post.frontmatter.date}</p>
            <p>{post.frontmatter.description}</p>
          </a>
        </li>
      ))}
		</ul>
	</main>
</Layout>