---
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";
---

<Layout title="Blog - Nick Winans">
  <a href="/">Home</a>, <a href="/feed">RSS feed</a>
  <h1>My posts</h1>
  <Posts />
</Layout>
