---
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";
import Subscribe from "../../components/Subscribe.astro";
---

<Layout title="Blog - Nick Winans">
  <h1>my posts</h1>
  <Posts limit="3" />
  <Subscribe />
  <Posts offset="3" />
</Layout>
