---
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";
import Subscribe from "../../components/Subscribe.astro";
---

<Layout title="Blog - Nick Winans">
  <a href="/">Home</a>, <a href="/rss.xml">RSS feed</a>
  <h1>My posts</h1>
  <Posts limit="3" />
  <Subscribe />
  <Posts offset="3" />
</Layout>
