article .heading-group {
  position: relative;
}

.heading-group > a {
  opacity: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.15s ease;
  padding-right: 0.5rem;

  & svg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 820px max-width: 1024px) {
  .heading-group>a {
    padding-right: 0.1rem;

    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

@media screen and (max-width: 820px), screen and (min-width: 1024px) and (max-width: 1080px) {
  .heading-group > a {
    padding-right: 0.1rem;

    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

article .heading-group:hover a {
  opacity: 1;
}

.loading-shimmer {
  position: relative;
  overflow: hidden;
  background-color: hsl(var(--b2));
  animation: shimmer 1s infinite alternate;
}

@keyframes shimmer {
  100% {
    background-color: hsl(var(--b1));
  }
}

.astro-code {
  overflow: auto;
  max-height: 75vh;
  display: flex;
}

.astro-code > code {
  flex-grow: 1;
}

html[data-theme='night'] .astro-code,
html[data-theme='night'] .astro-code > code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre:has(code) {
  position: relative;
}

pre button.copy {
  position: sticky;
  right: 0rem;
  top: 0.25rem;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.25rem;
  display: flex;
  color: var(--tw-prose-body);
  flex-shrink: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid transparent;

  &:hover {
    background-color: inherit;
  }

  &::before {
    content: 'copy?';
    position: absolute;
    right: 100%;
    top: 0;
    padding-left: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    align-items: center;
  }

  &:hover::before {
    opacity: 1;
    background-color: inherit;
  }

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .ready {
    background-color: var(--tw-prose-body);
    opacity: 0.7;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -60 640 640' style='fill: white; display: block; width: 100%25; height: 100%25;'%3E%3Cpath d='M384 336H192c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16l140.1 0L400 115.9V320c0 8.8-7.2 16-16 16zM192 384H384c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1H192c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H256c35.3 0 64-28.7 64-64V416H272v32c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16H96V128H64z'%3E%3C/path%3E%3C/svg%3E");
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  & .success {
    display: none;
    background-color: var(--tw-prose-body);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -60 640 640' style='fill: white; display: block; width: 100%25; height: 100%25;'%3E%3Cpath d='M0 192c0-35.3 28.7-64 64-64l32 0 0 48-32 0c-8.8 0-16 7.2-16 16l0 256c0 8.8 7.2 16 16 16l192 0c8.8 0 16-7.2 16-16l0-32 48 0 0 32c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 192zM128 64c0-35.3 28.7-64 64-64L332.2 0c12.7 0 24.9 5.1 33.9 14.1L433.9 82c9 9 14.1 21.2 14.1 33.9l0 82.7c-17.2 4.9-33.4 12.3-48 21.8l0-104.6L332.1 48 192 48c-8.8 0-16 7.2-16 16l0 256c0 8.8 7.2 16 16 16l130.9 0c-1.9 10.4-2.9 21.1-2.9 32c0 5.4 .2 10.7 .7 16L192 384c-35.3 0-64-28.7-64-64l0-256zM352 368c0-79.5 64.5-144 144-144s144 64.5 144 144s-64.5 144-144 144s-144-64.5-144-144zm76.7-11.3c-6.2 6.2-6.2 16.4 0 22.6l40 40c6.2 6.2 16.4 6.2 22.6 0l72-72c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L480 385.4l-28.7-28.7c-6.2-6.2-16.4-6.2-22.6 0z'%3E%3C/path%3E%3C/svg%3E");
  }

  &.copied {
    & .success {
      display: block;
    }

    &::before {
      content: 'copied';
      opacity: 1;
    }

    & .ready {
      display: none;
    }
  }
}

