---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Nick Winans" description="I'm Nick. I design and build web apps. You can find some of my skills and projects here. I'm constantly learning, so I can refine my user interfaces, make my code easier to maintain, and optimize my deployments.">
	<main>
		<h1>nick.winans.io</h1>
		<a href="/blog" class="btn">Blog</a>
	</main>
</Layout>

