---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate - a.data.pubDate);
const { limit = posts.length, offset = 0 } = Astro.props;
---

<ul>
  {
    posts.slice(offset, limit).map((post) => (
      <li>
        <time datetime={post.data.pubDate.toISOString().split("T")[0]}>
          {post.data.pubDate.toISOString().split("T")[0]}
        </time>
        <div>
          <a href={`/blog/${post.id}/`}>{post.data.title}</a>
          <span>{post.data.description}</span>
        </div>
      </li>
    ))
  }
</ul>
<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    align-items: baseline;
  }

  div {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }
</style>
