---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate - a.data.pubDate);
const { limit = posts.length } = Astro.props;
---

<ul>
  {
    posts.slice(0, limit).map((post) => (
      <li>
        <time datetime={post.data.pubDate.toISOString().split("T")[0]}>
          {post.data.pubDate.toISOString().split("T")[0]}
        </time>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
        <span>{post.data.description}</span>
      </li>
    ))
  }
</ul>
