<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer
></script>
<div class="divider"></div>
<form
  method="post"
  action="https://list.winans.io/subscription/form"
  onsubmit="checkTurnstile(event)"
>
  <h3>Subscribe to future posts</h3>
  <input type="hidden" name="nonce" />
  <input type="hidden" name="l" value="08d00f53-dbba-4f3d-a320-362ed2d9550b" />

  <div style="display: flex">
    <input type="email" name="email" required placeholder="E-mail" />
    <input type="submit" value="Subscribe" />
  </div>
  
  <div
    class="cf-turnstile"
    style="display: none"
    data-sitekey="0x4AAAAAABhbyyemU0sVedNu"
  >
  </div>
</form>
<div class="divider"></div>
<script is:inline>
  function checkTurnstile(e) {
    if (!turnstile.getResponse()) {
      document.querySelector(".cf-turnstile").style.display = "block";
      e.preventDefault();
    }
  }
</script>
<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1ch;
  }

  .divider {
    color: inherit;
    border-bottom: 1px solid rgba(140, 120, 120, 0.5);
    width: 100%;
    margin: 2ch 0;
  }

  input {
    color: inherit;
    font-family: inherit;
  }

  input[type="email"] {
    background-color: rgba(140, 120, 120, 0.2);
    padding: 1ch;
    border: none;
    border-radius: 0.5ch 0 0 0.5ch;
  }

  input[type="submit"] {
    background-color: var(--link-dark);
    color: var(--light);
    border: none;
    padding: 1ch;
    width: auto;
    cursor: pointer;
    border-radius: 0 0.5ch 0.5ch 0;
  }

  input[type="submit"]:hover {
    background-color: rgba(140, 120, 120, 0.4);
  }

  .cf-turnstile {
    margin-top: 2ch;
  }
</style>
